@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

//font-family
$open-sans: 'Open Sans', sans-serif;

//font-weight
$open-sans-light: 300;
$open-sans-normal: 400;
$open-sans-semibold: 600;
$open-sans-bold: 700;

//font-sizes
$font-size-xs: 0.73vwax;
$font-size-sm: 0.88vmax;
$font-size-md: 1.02vmax;
$font-size-base: 1.17vmax;
$font-size-lg: 1.46vmax;
$font-size-xl: 1.76vmax;
$font-size-xxl: 2.34vmax;
